# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [23]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import os
import sys
import csv

# Used to navigate to project root for api_keys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "../output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

614

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [8]:
# Add weather detail columns
city_name = []
city_id = []
lat = []
lon = []
unix_dt = []
temp = []
humidity = []
cloudiness = []
windspeed = []

for city in cities:
    try:
        # Build query URL and request your results in Celsius
        query_url = f"{url}appid={weather_api_key}&q={city}&units={units}"
        
        # Get weather data
        weather_response = requests.get(query_url).json()
        
        print(f"City Name:  {city}, City Number:  {weather_response['id']}")
        
        # cityID, cityName, lat, lon, unix_dt, temp, humidity, cloudiness, windSpeed
        city_id.append(weather_response['id'])
        city_name.append(weather_response['name'])
        lat.append(weather_response['coord']['lat'])
        lon.append(weather_response['coord']['lon'])
        unix_dt.append(weather_response['dt'])
        temp.append(weather_response['main']['temp'])
        humidity.append(weather_response['main']['humidity'])
        cloudiness.append(weather_response['clouds']['all'])
        windspeed.append(weather_response['wind']['speed'])
            
        #time.sleep(1)
        
    except:
        print("City not found")
        pass

City Name:  albany, City Number:  5106841
City Name:  homer, City Number:  5864145
City Name:  boende, City Number:  218680
City Name:  punta arenas, City Number:  3874787
City Name:  bluff, City Number:  2206939
City Name:  dikson, City Number:  1507390
City Name:  uruzgan, City Number:  1131461
City Name:  beira, City Number:  1052373
City Name:  broken hill, City Number:  2173911
City Name:  bemidji, City Number:  5017822
City Name:  manaure, City Number:  3675504
City Name:  jamestown, City Number:  5122534
City Name:  santa comba, City Number:  3109966
City Name:  norman wells, City Number:  6089245
City Name:  new norfolk, City Number:  2155415
City Name:  mayumba, City Number:  2399001
City Name:  jumla, City Number:  1283285
City Name:  margate, City Number:  2643044
City Name:  long beach, City Number:  5367929
City not found
City Name:  mataura, City Number:  6201424
City Name:  pisco, City Number:  3932145
City Name:  brigantine, City Number:  4500920
City Name:  maxixe, City Number:  1039536
City Name:  yumen, City Number:  1528998
City Name:  tuktoyaktuk, City Number:  6170031
City Name:  yellowknife, City Number:  6185377
City Name:  jalu, City Number:  86049
City Name:  lakhtar, City Number:  1265225
City Name:  pastavy, City Number:  623760
City Name:  cabo san lucas, City Number:  3985710
City Name:  harper, City Number:  2276492
City Name:  alcaniz, City Number:  3130606
City Name:  ushuaia, City Number:  3833367
City Name:  hermanus, City Number:  3366880
City Name:  cherskiy, City Number:  2126199
City Name:  oeiras, City Number:  3393764
City Name:  san cristobal, City Number:  3628473
City Name:  bourail, City Number:  2141714
City Name:  abonnema, City Number:  2324433
City Name:  port elizabeth, City Number:  964420
City Name:  japura, City Number:  1642773
City Name:  yatou, City Number:  1786855
City Name:  butaritari, City Number:  2110227
City Name:  stow, City Number:  5173171
City Name:  rio grande, City Number:  3451138
City Name:  hastings, City Number:  2647356
City Name:  bosaso, City Number:  64013
City Name:  geraldton, City Number:  2070998
City not found
City Name:  vaini, City Number:  4032243
City Name:  port keats, City Number:  2063039
City Name:  hilo, City Number:  5855927
City Name:  kapaa, City Number:  5848280
City Name:  hongjiang, City Number:  1808106
City Name:  dawson creek, City Number:  5935804
City Name:  barrow, City Number:  5880054
City Name:  sao sebastiao, City Number:  3448257
City Name:  tefe, City Number:  3661944
City Name:  uige, City Number:  2236568
City Name:  carmo do paranaiba, City Number:  3466902
City Name:  caceres, City Number:  2520610
City not found
City not found
City Name:  zhaozhou, City Number:  2033147
City Name:  srednekolymsk, City Number:  2121025
City Name:  port alfred, City Number:  964432
City Name:  umm kaddadah, City Number:  364933
City not found
City Name:  torbay, City Number:  6167817
City Name:  esperance, City Number:  2071860
City not found
City Name:  puerto ayora, City Number:  3652764
City Name:  east london, City Number:  1006984
City Name:  qaanaaq, City Number:  3831208
City Name:  hervey bay, City Number:  2146219
City Name:  rikitea, City Number:  4030556
City Name:  saint-philippe, City Number:  935215
City Name:  fort nelson, City Number:  5955902
City Name:  hirara, City Number:  1862505
City Name:  karlskoga, City Number:  2701715
City Name:  bara, City Number:  2347758
City Name:  mazagao, City Number:  3395042
City Name:  cajimos, City Number:  1720820
City Name:  mahebourg, City Number:  934322
City not found
City Name:  chuy, City Number:  3443061
City Name:  kodiak, City Number:  5866583
City Name:  hamilton, City Number:  4513583
City Name:  teguldet, City Number:  1489822
City Name:  lebu, City Number:  3883457
City Name:  korla, City Number:  1529376
City Name:  busselton, City Number:  2075265
City Name:  victoria, City Number:  1819729
City Name:  airai, City Number:  1651810
City Name:  arraial do cabo, City Number:  3471451
City Name:  nikolskoye, City Number:  546105
City Name:  mount isa, City Number:  2065594
City Name:  nanortalik, City Number:  3421765
City Name:  bredasdorp, City Number:  1015776
City Name:  atuona, City Number:  4020109
City Name:  grand forks, City Number:  5059429
City Name:  huautla, City Number:  3526989
City Name:  westport, City Number:  4845585
City Name:  luziania, City Number:  3458329
City Name:  andros town, City Number:  3572906
City Name:  husavik, City Number:  2629833
City Name:  tiarei, City Number:  4033356
City Name:  quatre cocos, City Number:  1106643
City Name:  hovd, City Number:  1516048
City Name:  bethel, City Number:  5282297
City not found
City Name:  ajdabiya, City Number:  89113
City Name:  tuatapere, City Number:  2180815
City Name:  ishigaki, City Number:  1861416
City Name:  nabire, City Number:  1634614
City Name:  namibe, City Number:  3347019
City Name:  lubumbashi, City Number:  922704
City not found
City Name:  sakakah, City Number:  102527
City Name:  hay river, City Number:  5972762
City Name:  tampakan, City Number:  1683430
City Name:  honiara, City Number:  2108502
City not found
City Name:  tateyama, City Number:  1850523
City not found
City Name:  avarua, City Number:  4035715
City Name:  guerrero negro, City Number:  4021858
City Name:  concordia, City Number:  3435261
City Name:  severo-kurilsk, City Number:  2121385
City Name:  thompson, City Number:  6165406
City Name:  aklavik, City Number:  5882953
City Name:  tasiilaq, City Number:  3424607
City Name:  iringa, City Number:  159071
City Name:  san patricio, City Number:  3985168
City not found
City Name:  faya, City Number:  110690
City Name:  requena, City Number:  2511930
City Name:  bonthe, City Number:  2409914
City Name:  berbera, City Number:  64435
City Name:  los llanos de aridane, City Number:  2514651
City Name:  ostrovnoy, City Number:  556268
City Name:  hobart, City Number:  2163355
City Name:  najran, City Number:  103630
City not found
City Name:  wad madani, City Number:  364103
City Name:  luba, City Number:  2309528
City Name:  mehamn, City Number:  778707
City Name:  katubao, City Number:  1709108
City Name:  kangaatsiaq, City Number:  3422683
City Name:  tutoia, City Number:  3385899
City Name:  wanaka, City Number:  2184707
City Name:  beckley, City Number:  4798308
City Name:  vallenar, City Number:  3868633
City Name:  cape town, City Number:  3369157
City Name:  unai, City Number:  3445764
City Name:  pangnirtung, City Number:  6096551
City Name:  roseburg, City Number:  5749352
City Name:  lompoc, City Number:  5367788
City Name:  ejea de los caballeros, City Number:  3123688
City not found
City Name:  dolores, City Number:  3435038
City Name:  great yarmouth, City Number:  2647984
City Name:  amapa, City Number:  3407762
City Name:  sao filipe, City Number:  3374210
City not found
City Name:  carnarvon, City Number:  2074865
City Name:  kruisfontein, City Number:  986717
City Name:  mandalgovi, City Number:  2030065
City Name:  jennings, City Number:  4392445
City Name:  dombarovskiy, City Number:  565407
City Name:  hualmay, City Number:  3939761
City Name:  bengkulu, City Number:  1649150
City Name:  dukat, City Number:  2125906
City Name:  ardakan, City Number:  143073
City Name:  kushmurun, City Number:  1519924
City Name:  poronaysk, City Number:  2121909
City Name:  bantry, City Number:  2966356
City Name:  solnechnyy, City Number:  2016307
City not found
City Name:  mount gambier, City Number:  2156643
City Name:  anaco, City Number:  3486270
City Name:  linxia, City Number:  1803331
City Name:  pangody, City Number:  1495626
City Name:  opuwo, City Number:  3354077
City Name:  georgetown, City Number:  1735106
City not found
City Name:  touros, City Number:  3386213
City not found
City Name:  susanville, City Number:  5572400
City Name:  nemuro, City Number:  2128975
City Name:  summerville, City Number:  4597919
City not found
City Name:  cidreira, City Number:  3466165
City Name:  san isidro, City Number:  3929631
City Name:  buin, City Number:  3897774
City Name:  willowmore, City Number:  939676
City Name:  longyearbyen, City Number:  2729907
City Name:  brae, City Number:  2654970
City not found

City Name:  chokurdakh, City Number:  2126123
City Name:  ustyuzhna, City Number:  477795
City Name:  bathsheba, City Number:  3374083
City Name:  nieuwpoort, City Number:  2790153
City Name:  baykit, City Number:  1510689
City Name:  shingu, City Number:  1847947
City Name:  padang, City Number:  1633419
City Name:  souillac, City Number:  933995
City Name:  boshnyakovo, City Number:  2126493
City Name:  nizhniy odes, City Number:  520552
City Name:  drumnadrochit, City Number:  2650918
City Name:  narsaq, City Number:  3421719
City Name:  te anau, City Number:  2181625
City Name:  guayabetal, City Number:  3681303
City Name:  ancud, City Number:  3899695
City Name:  shubarshi, City Number:  608270
City Name:  alamosa, City Number:  5411479
City Name:  asfi, City Number:  2537881
City Name:  seoul, City Number:  1835848
City Name:  ibra, City Number:  287832
City Name:  villa altagracia, City Number:  3491952
City not found
City Name:  juruti, City Number:  3396979
City Name:  salalah, City Number:  286621
City Name:  murud, City Number:  1262403
City Name:  castro, City Number:  3466704
City Name:  tessalit, City Number:  2449893
City not found
City Name:  dingle, City Number:  1714733
City Name:  san-pedro, City Number:  2282006
City Name:  muros, City Number:  3115824
City Name:  ust-izhora, City Number:  478080
City Name:  fujin, City Number:  2037375
City Name:  goiatuba, City Number:  3462371
City Name:  eureka, City Number:  5563397
City Name:  grindavik, City Number:  3416888
City not found
City Name:  saskylakh, City Number:  2017155
City Name:  halifax, City Number:  6324729
City Name:  neiafu, City Number:  4032420
City not found
City Name:  upernavik, City Number:  3418910
City Name:  hambantota, City Number:  1244926
City Name:  acarau, City Number:  3408368
City Name:  cacapava do sul, City Number:  3468560
City Name:  the valley, City Number:  3573374
City Name:  la joya, City Number:  3525570
City Name:  dilla, City Number:  338998
City Name:  kariba, City Number:  889215
City Name:  green river, City Number:  5826559
City Name:  arlit, City Number:  2447513
City Name:  srandakan, City Number:  1626493
City Name:  coahuayana, City Number:  4013679
City not found
City Name:  batemans bay, City Number:  2176639
City Name:  guisa, City Number:  3557332
City not found
City Name:  olafsvik, City Number:  3414079
City Name:  canutama, City Number:  3664716
City Name:  atar, City Number:  2381334
City Name:  plettenberg bay, City Number:  964712
City Name:  fayaoue, City Number:  2141305
City Name:  belaya gora, City Number:  2126785
City Name:  campoverde, City Number:  3733380
City Name:  boden, City Number:  606531
City Name:  kaeo, City Number:  2189343
City Name:  alugan, City Number:  1731248
City Name:  teknaf, City Number:  1185095
City Name:  coquimbo, City Number:  3893629
City Name:  kaitangata, City Number:  2208248
City Name:  pevek, City Number:  2122090
City Name:  abaza, City Number:  1512205
City Name:  saldanha, City Number:  3361934
City Name:  fulda, City Number:  2923822
City Name:  les cayes, City Number:  3728097
City not found
City Name:  sinnamary, City Number:  3380290
City Name:  marzuq, City Number:  72181
City Name:  cabras, City Number:  2525478
City Name:  yelizovo, City Number:  2119538
City Name:  naze, City Number:  1855540
City Name:  yeniseysk, City Number:  1485997
City not found
City Name:  itaituba, City Number:  3397967
City Name:  iqaluit, City Number:  5983720
City Name:  bhum, City Number:  1275804
City Name:  klaksvik, City Number:  2618795
City Name:  vostok, City Number:  2013279
City Name:  pedernales, City Number:  3495137
City Name:  beidao, City Number:  1816751
City Name:  bulle, City Number:  2661337
City Name:  varzea da palma, City Number:  3445459
City Name:  taos, City Number:  5493811
City Name:  khatanga, City Number:  2022572
City Name:  sitka, City Number:  5557293
City Name:  naryan-mar, City Number:  523392
City Name:  vuktyl, City Number:  470905
City Name:  sobolevo, City Number:  525426
City Name:  ponta do sol, City Number:  2264557
City Name:  kahului, City Number:  5847411
City Name:  hithadhoo, City Number:  1282256
City Name:  port hedland, City Number:  2063042
City Name:  port macquarie, City Number:  2152659
City Name:  ciudad bolivar, City Number:  3645532
City Name:  landeck, City Number:  7872581
City Name:  la palma, City Number:  5364022
City Name:  tiksi, City Number:  2015306
City Name:  port hardy, City Number:  6111862
City Name:  vire, City Number:  2967970
City Name:  marsh harbour, City Number:  3571913
City Name:  pringsewu, City Number:  1630639
City Name:  mar del plata, City Number:  3430863
City Name:  ust-omchug, City Number:  2120047
City Name:  ulaangom, City Number:  1515029
City Name:  acajutla, City Number:  3587498
City Name:  bambous virieux, City Number:  1106677
City Name:  urengoy, City Number:  1488414
City Name:  ilulissat, City Number:  3423146
City Name:  havelock, City Number:  4470244
City Name:  waingapu, City Number:  1622318
City Name:  baijiantan, City Number:  1529626
City Name:  puerto escondido, City Number:  3520994
City Name:  gorontalo, City Number:  1643837
City Name:  takoradi, City Number:  2294915
City Name:  sur, City Number:  286245
City Name:  vestmannaeyjar, City Number:  3412093
City Name:  virginia beach, City Number:  4791259
City Name:  elko, City Number:  5703673
City not found
City Name:  yar-sale, City Number:  1486321
City Name:  kalabo, City Number:  915471
City Name:  kurumkan, City Number:  2021188
City Name:  roma, City Number:  5134295
City Name:  kawalu, City Number:  1640902
City not found
City Name:  mokhsogollokh, City Number:  2019867
City Name:  abha, City Number:  110690
City Name:  henties bay, City Number:  3356832
City Name:  tagusao, City Number:  1684245
City not found
City Name:  moyale, City Number:  186180
City Name:  codrington, City Number:  2171099
City Name:  cochabamba, City Number:  3919968
City not found
City Name:  shestakovo, City Number:  2016733
City Name:  fortuna, City Number:  5563839
City Name:  nome, City Number:  5870133
City Name:  moi, City Number:  3145617
City Name:  nushki, City Number:  1168749
City Name:  vestmanna, City Number:  2610343
City not found
City Name:  bulgan, City Number:  2032201
City Name:  caravelas, City Number:  3466980
City Name:  umm lajj, City Number:  100926
City Name:  sorland, City Number:  3137469
City not found
City Name:  lethem, City Number:  3379316
City Name:  lewiston, City Number:  4969398
City Name:  iralaya, City Number:  3608828
City Name:  kpandu, City Number:  2299233
City Name:  haines junction, City Number:  5969025
City Name:  beloha, City Number:  1067565
City Name:  uyuni, City Number:  3901903
City Name:  mae sai, City Number:  1152194
City Name:  mandera, City Number:  187896
City Name:  bose, City Number:  6457397
City Name:  sisimiut, City Number:  3419842
City Name:  borovoy, City Number:  1508894
City Name:  south valley, City Number:  5492450
City Name:  shashi, City Number:  1795816
City Name:  salta, City Number:  3838233
City Name:  mareeba, City Number:  2158767
City Name:  vila franca do campo, City Number:  3372472
City Name:  meulaboh, City Number:  1214488
City Name:  belmopan, City Number:  3582672
City not found
City Name:  morgan city, City Number:  4333811
City Name:  saint anthony, City Number:  5044290
City Name:  popondetta, City Number:  2088163
City Name:  baoshan, City Number:  2038438
City Name:  saint-georges, City Number:  3579925
City Name:  port blair, City Number:  1259385
City Name:  neryungri, City Number:  2019309
City Name:  aswan, City Number:  359792
City Name:  birao, City Number:  240210
City Name:  toma, City Number:  2354265
City Name:  lokosovo, City Number:  1500399
City Name:  stornoway, City Number:  2636790
City Name:  fairbanks, City Number:  5861897
City Name:  karratha, City Number:  6620339
City Name:  palmer, City Number:  4946620
City Name:  paamiut, City Number:  3421193
City Name:  tabas, City Number:  113659
City Name:  garmsar, City Number:  133964
City Name:  luanda, City Number:  2240449
City not found
City Name:  yinchuan, City Number:  1786657
City Name:  waiouru, City Number:  2180063

City not found
City Name:  berlevag, City Number:  780687
City Name:  casa grande, City Number:  5288636
City Name:  cubulco, City Number:  3597837
City Name:  lukovetskiy, City Number:  533418
City Name:  kortkeros, City Number:  544397
City Name:  raudeberg, City Number:  3146487
City Name:  lavrentiya, City Number:  4031637
City Name:  ribeira grande, City Number:  3372707
City Name:  dalvik, City Number:  2632287
City Name:  lagunas, City Number:  3695844
City Name:  saint george, City Number:  5546220
City Name:  pingzhuang, City Number:  2035453
City Name:  chornyanka, City Number:  710653
City not found
City Name:  makat, City Number:  608872
City Name:  constitucion, City Number:  3893726
City Name:  broome, City Number:  5110365
City Name:  albanel, City Number:  5883074
City Name:  longyan, City Number:  1802276
City Name:  kyzyl-suu, City Number:  1527497
City Name:  pingyin, City Number:  1798632
City Name:  chissamba, City Number:  3349580
City Name:  santa cruz, City Number:  3904906
City Name:  kloulklubed, City Number:  7671223
City Name:  luderitz, City Number:  3355672
City Name:  darab, City Number:  137956
City Name:  college, City Number:  5859699
City Name:  ulladulla, City Number:  2145554
City Name:  axim, City Number:  2303611
City Name:  mitsamiouli, City Number:  921786
City Name:  almaznyy, City Number:  582447
City Name:  poum, City Number:  2138555
City Name:  ivolginsk, City Number:  2023377
City Name:  saint-louis, City Number:  2246451
City Name:  clyde river, City Number:  5924351
City Name:  villanueva de la serena, City Number:  2509553
City Name:  cabedelo, City Number:  3404558
City Name:  grootfontein, City Number:  3357114
City Name:  natal, City Number:  3394023
City Name:  alofi, City Number:  4036284
City Name:  oktyabrskiy, City Number:  515879
City Name:  saint-augustin, City Number:  6137462
City Name:  sola, City Number:  2134814
City Name:  san gabriel casa blanca, City Number:  3519231
City Name:  kuloy, City Number:  539385
City Name:  mezen, City Number:  527321
City Name:  tonantins, City Number:  3661894
City Name:  lasa, City Number:  3175096
City Name:  chalon-sur-saone, City Number:  3027484
City Name:  namatanai, City Number:  2090021
City not found
City Name:  kiunga, City Number:  2093846
City not found
City Name:  north bend, City Number:  5742974
City Name:  maryville, City Number:  4639848
City Name:  turukhansk, City Number:  1488903
City not found
City Name:  lusaka, City Number:  909137
City Name:  konibodom, City Number:  1514891
City Name:  springbok, City Number:  3361142
City Name:  ixtapa, City Number:  4004293
City Name:  port-gentil, City Number:  2396518
City Name:  erzin, City Number:  296852
City Name:  dunedin, City Number:  2191562
City Name:  nhulunbuy, City Number:  2064735
City not found
City Name:  yanam, City Number:  1252795
City Name:  sioux lookout, City Number:  6148373
City Name:  sidrolandia, City Number:  3447597
City Name:  namwala, City Number:  901766
City Name:  mitu, City Number:  3674676
City Name:  bam, City Number:  141736
City Name:  bolshaya glushitsa, City Number:  486923
City Name:  tornio, City Number:  634096
City Name:  tabou, City Number:  2281120
City Name:  gat, City Number:  293842
City Name:  selenginsk, City Number:  2017059
City Name:  andenes, City Number:  3163146
City Name:  urusha, City Number:  2014078
City Name:  synya, City Number:  485215
City Name:  mokrous, City Number:  525719
City Name:  okhotsk, City Number:  2122605
City Name:  liverpool, City Number:  2644210
City Name:  ilhabela, City Number:  3461425
City Name:  batticaloa, City Number:  1250161
City not found
City Name:  baherden, City Number:  162158
City Name:  pundaguitan, City Number:  1698289
City Name:  general roca, City Number:  3855065
City Name:  matara, City Number:  1235846
City Name:  deputatskiy, City Number:  2028164
City Name:  clonakilty, City Number:  2965402
City Name:  novomykolayivka, City Number:  699413
City Name:  leningradskiy, City Number:  2123814
City Name:  manggar, City Number:  1636426
City Name:  canita, City Number:  3713131
City Name:  ankara, City Number:  323786
City Name:  faanui, City Number:  4034551
City Name:  leh, City Number:  1264976
City Name:  maloy, City Number:  3146487
City Name:  bitung, City Number:  1648636
City Name:  svetlogorsk, City Number:  10722858
City Name:  weligama, City Number:  1223738
City Name:  balkanabat, City Number:  161616
City Name:  gualaquiza, City Number:  3657661
City Name:  saint-joseph, City Number:  6690296
City Name:  zarechnyy, City Number:  464625
City Name:  williamsport, City Number:  5219585
City Name:  asosa, City Number:  343292
City Name:  sycow, City Number:  3083921
City Name:  vila velha, City Number:  3445026
City Name:  oinacu, City Number:  671902
City Name:  orlik, City Number:  1496073
City Name:  taicheng, City Number:  1790959
City Name:  liepaja, City Number:  457955
City Name:  barranca, City Number:  3946820
City Name:  bontang, City Number:  1648186
City not found
City Name:  dudinka, City Number:  1507116
City Name:  fojnica, City Number:  3200829
City Name:  maragogi, City Number:  3395458
City Name:  taylor, City Number:  4735729
City Name:  kidal, City Number:  2455290
City Name:  okato, City Number:  2185763
City Name:  nikki, City Number:  2392505
City Name:  porto novo, City Number:  2392087
City Name:  ust-koksa, City Number:  1488167
City Name:  ambovombe, City Number:  1079048
City not found
City Name:  lagoa, City Number:  3372964
City Name:  chornobayivka, City Number:  710715
City Name:  puerto colombia, City Number:  3671497
City Name:  biak, City Number:  1637001
City Name:  omsukchan, City Number:  2122493
City Name:  chaman, City Number:  1181611
City Name:  pimentel, City Number:  3693584
City Name:  wamba, City Number:  2319257
City Name:  la romana, City Number:  3500957
City not found
City Name:  uruacu, City Number:  3445713
City Name:  lata, City Number:  2738381
City not found
City Name:  katsuura, City Number:  2112309
City Name:  hobyo, City Number:  57000
City Name:  bacolod, City Number:  1729564
City Name:  nishihara, City Number:  1855342
City Name:  salinas, City Number:  5391295
City Name:  chern, City Number:  569116
City not found
City Name:  kuytun, City Number:  2021093
City Name:  meybod, City Number:  124193
City Name:  togur, City Number:  1489499
City Name:  laguna, City Number:  5364271
City Name:  kolpashevo, City Number:  1502862
City Name:  ponoka, City Number:  6109273
City Name:  harbour breton, City Number:  5970478
City Name:  ketchikan, City Number:  5554428
City Name:  erzurum, City Number:  315367
City Name:  vardo, City Number:  777019
City Name:  fez, City Number:  2548885
City Name:  heishan, City Number:  2036959
City Name:  ponta delgada, City Number:  3372783
City Name:  mnogovershinnyy, City Number:  2019935
City Name:  bhattiprolu, City Number:  1276054
City Name:  alihe, City Number:  2038665
City Name:  pitanga, City Number:  3453478
City Name:  matagami, City Number:  6067747
City Name:  marabba, City Number:  370510
City Name:  mawlaik, City Number:  1310120
City Name:  tripoli, City Number:  2210247
City not found
City Name:  mazamari, City Number:  3935102
City Name:  katobu, City Number:  1640972
City Name:  kalmunai, City Number:  1242110
City Name:  surt, City Number:  2210554
City Name:  wewak, City Number:  2083537
City Name:  boyolangu, City Number:  1648082
City not found
City Name:  maceio, City Number:  3395981
City Name:  muli, City Number:  1337617
City Name:  malchevskaya, City Number:  526558
City Name:  auki, City Number:  2109701
City Name:  grand-santi, City Number:  3381538
City Name:  charyshskoye, City Number:  1508427
City not found
City Name:  laranjeiras do sul, City Number:  3458746
City Name:  sovetskiy, City Number:  1491230
City Name:  narrabri, City Number:  2155742
City Name:  nelson bay, City Number:  2155562
City Name:  gualeguay, City Number:  3433663
City Name:  moravske budejovice, City Number:  3070323
City not found
City Name:  goderich, City Number:  5962442
City Name:  byron bay, City Number:  2172880
City Name:  la ronge, City Number:  6050066
City not found
City Name:  elizabeth city, City Number:  4465088
City Name:  kavieng, City Number:  2094342

City Name:  sawakin, City Number:  367544
City Name:  bari, City Number:  6542001
City Name:  kuryk, City Number:  609919
City Name:  santiago del estero, City Number:  3835869
City Name:  santa maria del oro, City Number:  3984078
City Name:  asau, City Number:  686090
City Name:  watertown, City Number:  4954611
City Name:  bandarbeyla, City Number:  64814
City Name:  khandyga, City Number:  2022773
City Name:  cayenne, City Number:  3382160
City Name:  tezu, City Number:  1254709
City Name:  high level, City Number:  5975004
City Name:  carbonia, City Number:  2525362
City Name:  kichera, City Number:  2022129
City Name:  calafell, City Number:  3127066
City Name:  atikokan, City Number:  5888001
City Name:  talnakh, City Number:  1490256

In [10]:
# Print the city count to confirm sufficient count
len(city_name)

561

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [33]:
#Save data tp dataframe
city_weather_data = pd.DataFrame({
    'city_name':city_name,
    'city_id':city_id,
    'lat':lat,
    'lon':lon,
    'unix_dt':unix_dt,
    'temp':temp,
    'humidity':humidity,
    'cloudiness':cloudiness,
    'windspeed':windspeed
})

# write dataframe to the csv
city_weather_data.to_csv(output_data_file, sep=',', encoding='utf-8', index=False)

# Display dataframe
city_weather_data

,city_name,city_id,lat,lon,unix_dt,temp,humidity,cloudiness,windspeed
0,Albany,5106841,42.60,-73.97,1579578485,-11.60,72,1,3.60
1,Homer,5864145,59.64,-151.55,1579578657,-8.38,92,1,1.50
2,Boende,218680,-0.22,20.87,1579578658,22.93,73,99,0.21
3,Punta Arenas,3874787,-53.15,-70.92,1579578479,12.89,76,75,6.70
4,Bluff,2206939,-46.60,168.33,1579578658,16.80,73,100,2.50
...,...,...,...,...,...,...,...,...,...
556,Carbonia,2525362,39.17,8.52,1579578753,14.69,72,40,12.90
557,Kichera,2022129,55.94,110.10,1579578753,-23.27,76,99,0.30
558,Calafell,3127066,41.20,1.57,1579578753,7.34,87,100,8.70
559,Atikokan,5888001,48.76,-91.62,1579578753,-13.16,93,96,4.39
560,Talnakh,1490256,69.49,88.40,1579578632,-40.00,72,40,1.00

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot

## Linear Regression

In [ ]:
# OPTIONAL: Create a function to create Linear Regression plots

In [ ]:
# Create Northern and Southern Hemisphere DataFrames

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression